body {
  background-color: antiquewhite;
}

#page-wrapper {
  background-image: url("https://static.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: darkred;
}

footer {
  text-align: center;
  margin: 0 auto;
  background-color: lightgray;
}