body {
  background: antiquewhite;
}

.navbar {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin: 0 auto;
  background-color: lightgray;
}

ul {
  padding: 0;
  margin: 5px;
}

ul li {
  display: inline-block;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  background-color: lightgray;
}

ul li:hover {
  opacity: 1;
}

footer ul li {
  width: 50px;
  margin: 0;
  padding: 10px 0 5px 0;
  opacity: 0.5;
}

a {
  color: black;
}

a:hover, a:focus {
  background-color: none;
  text-decoration: none;
}

nav ul li {
  text-align: center;
  width: 100px;
  margin: 0;
  background: -webkit-radial-gradient(lightgray, rgba(250, 235, 215, 0));
  background: -o-radial-gradient(lightgray, rgba(250, 235, 215, 0));
  background: -moz-radial-gradient(lightgray, rgba(250, 235, 215, 0));
}

nav ul li:hover {
  background-color: lightgray;
  opacity: 0.8;
  font-weight: 600;
}

img {
  height: 20px;
}

h3 {
  margin: 10px 0;
}

.jumbotron h1 {
  font-size: 48px;
  color: darkred;
  margin-top: 5px;
}

.about-me {
  display: block;
  text-align: center;
}

.menu-btn {
  background-color: lightgray;
}

.icon-bar {
  background-color: antiquewhite;
}

.jumbotron {
  background-image: url("../imgs/italian-landscape-mountains-nature.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 24px 0;
  margin-bottom: 15px;
}

.container-fluid {
  background-color: lightgray;
  height: 100%;
  opacity: 0.8;
  padding: 15px;
}

.container-fluid:hover {
  opacity: 1;
}

.holding {
  height: 537px;
  padding: 0;
  position: relative;
  overflow: auto;
}

div .carousel {
  height: 522px;
}

.caption {
  text-align: center;
}

.jumbotron p {
  margin: 0;
}

.holding p {
  margin: 0 10px;
}

.row {
  height: 100%;
  margin: 0;
}

.home {
  height: 537px;
  text-align: center;
  padding-top: 100px;
  display: none;
}

.landing-page {
  display: inline-block;
  text-align: center;
  background-color: lightgray;
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 30px;
}

.carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}

@media (min-device-width: 1400px) {
  .mobile {
    display: none;
  }
}

@media (max-device-width: 1399px) {
  .pc {
    display: none;
  }
}






