body {
  background: antiquewhite;
}

div {
  text-align: center;
}

#page-wrapper {
  background-image: url("https://static.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: 40px 0 15px 0;
}

h1 {
  display: inline-block;
  text-align: center;
  font-size: 48px;
  color: darkred;
  background-color: lightgray;
  padding: 2px 9px;
}

.works {
  margin: 0 auto;
  width: 1200px;
}

ul {
  padding: 0;
}

ul li {
  display: inline-block;
  width: 500px;
  padding: 10px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: lightgray;
}

h3 {
  margin: 0 auto;
}

.description {
  text-align: left;
  margin: 10px;
}

footer {
  text-align: center;
  margin: 0 auto;
  background-color: lightgray;
}

.contact-info {

}