body {
  background: antiquewhite;
}

.navbar {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin: 0 auto;
  background-color: lightgray;
}

ul {
  padding: 0;
  margin: 5px;
}

ul li {
  display: inline-block;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  background-color: lightgray;
}

ul li:hover {
  opacity: 1;
}

footer ul li {
  width: 50px;
  margin: 0;
  padding: 10px 0 5px 0;
  opacity: 0.5;
}

a {
  color: black;
}

a:hover, a:focus {
  background-color: none;
  text-decoration: none;
}

nav ul li {
  text-align: center;
  width: 100px;
  margin: 0;
  background: -webkit-radial-gradient(lightgray, rgba(250, 235, 215, 0));
  background: -o-radial-gradient(lightgray, rgba(250, 235, 215, 0));
  background: -moz-radial-gradient(lightgray, rgba(250, 235, 215, 0));
}

nav ul li:hover {
  background-color: lightgray;
  opacity: 0.8;
  font-weight: 600;
}

img {
  height: 20px;
}

h3 {
  margin: 10px 0;
}

.about-me {
  display: block;
  text-align: center;
}

.menu-btn {
  background-color: lightgray;
}

.icon-bar {
  background-color: antiquewhite;
}

.jumbotron {
  background-image: url("../imgs/italian-landscape-mountains-nature.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 24px 0;
  margin-bottom: 15px;
}

.container-fluid {
  background-color: lightgray;
  height: 100%;
  opacity: 0.8;
  padding: 15px;
}

.container-fluid:hover {
  opacity: 1;
}

.holding {
  height: 537px;
  padding: 0;
  position: relative;
  overflow: auto;
}

.caption {
  text-align: center;
}

.holding p {
  margin: 0 10px;
}

.row {
  height: 100%;
  margin: 0;
}
